.InfoCard{
    display: flex;
    flex-direction: column;
    gap: 0.74rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}

.InfoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InfoHead>div:hover{
    cursor: pointer;
}

.logout-button{
    width: 7rem;
    padding: 0.5rem;
    height: 2erm;
    margin-top: 6rem;
    align-self: flex-end;
}